.main {
  background-image: url('./images/hellkillmurder.jpg');
  background-size: cover;
  background-position: center;
  opacity: 80%;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: rgba(0,0,0,.7);
  color: white;
  text-align: center;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
  transition: box-shadow 150ms ease-in-out;
}

.content:hover {
  box-shadow: 0 0 8px 8px rgba(0,0,0,.3);
}

.haiku {
  font-size: 20px;
}

.game-table {
  height: 10rem;
  margin: 0 auto;
  border: 1px solid white;
  border-collapse: collapse;
}

.game-table th, td {
  padding: 5px;
  border: 1px solid white;
}

iframe {
  margin: 10px auto;
}

h1 {
  font-size: 48px;
}


@media (max-width: 900px) {
  h1 {
    font-size: 32px;
  }
}










/* Globals */
.w-full {
  min-width: 100vh;
}
.h-full {
  min-height: 100vh;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.mx-auto {
  margin: 0 auto;
}
.p-2 {
  padding: 2rem;
}
.p-4 {
  padding: 4rem;
}
.p-6 {
  padding: 6rem;
}
.p-8 {
  padding: 8rem;
}